In [37]:
import pandas as pd
import numpy as np
import seaborn as sb
import pylab as py

In [38]:
df=pd.read_csv('./TestPredictionResults_23-02-07_05-06-53.csv')

In [39]:
df.head()

,TestProgram_Name_NA,Family,SubFamily,IsConcurrent,Patterns_Count,Tests_And_Mttx3_Count,ConcurrentFlows_Count,Shmoo_tests_count,ITuff_Temperature_NA,ITuff_SubmitterFullName_NA,ITuff_Lot_NA,ituff_EndDate_NA,ITuff_PartType,ITuff_BomGroup,ITuff_ProcessStep,ITuff_ExperimentType,ituff_PerUnit_testTimeInMS
0,RPLP282_IDUT,RPL,CLASS_RPLP282,False,14866,13478,0,519,25,"Bora, Ashish",Y246019CR,07/11/2022 22:01:00,H64ASLFVQ,CLASS_RPLP282,FUSE,Correlation,176
1,RPLP282_IDUT,RPL,CLASS_RPLP282,False,14866,13478,0,519,25,"Bora, Ashish",Y246019CR,07/11/2022 22:01:00,H64ASLFVQ,CLASS_RPLP282,FUSE,Correlation,643
2,RPLP282_IDUT,RPL,CLASS_RPLP282,False,14866,13478,0,519,100,"Bora, Ashish",Y246028CR,07/11/2022 22:47:51,H64ASLFVQ,CLASS_RPLP282,CLASSHOT,Correlation,214
3,RPLP282_IDUT,RPL,CLASS_RPLP282,False,14866,13478,0,519,100,"Bora, Ashish",Y246028CR,07/11/2022 22:47:51,H64ASLFVQ,CLASS_RPLP282,CLASSHOT,Correlation,333
4,RPLP282_IDUT,RPL,CLASS_RPLP282,False,14866,13478,0,519,-5,"Bora, Ashish",Y246028CR,07/11/2022 23:11:14,H64ASLFVQ,CLASS_RPLP282,CLASSCOLD,Correlation,261

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1419 entries, 0 to 1418
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TestProgram_Name_NA         1419 non-null   object
 1   Family                      1419 non-null   object
 2   SubFamily                   1419 non-null   object
 3   IsConcurrent                1419 non-null   bool
 4   Patterns_Count              1419 non-null   int64
 5   Tests_And_Mttx3_Count       1419 non-null   int64
 6   ConcurrentFlows_Count       1419 non-null   int64
 7   Shmoo_tests_count           1419 non-null   int64
 8   ITuff_Temperature_NA        1419 non-null   int64
 9   ITuff_SubmitterFullName_NA  1419 non-null   object
 10  ITuff_Lot_NA                1419 non-null   object
 11  ituff_EndDate_NA            1419 non-null   object
 12  ITuff_PartType              1419 non-null   object
 13  ITuff_BomGroup              1419 non-null   object
 14  ITuff_ProcessStep           1419 non-null   object
 15  ITuff_ExperimentType        1419 non-null   object
 16  ituff_PerUnit_testTimeInMS  1419 non-null   int64
dtypes: bool(1), int64(6), object(10)
memory usage: 178.9+ KB

In [41]:
df.describe()

,Patterns_Count,Tests_And_Mttx3_Count,ConcurrentFlows_Count,Shmoo_tests_count,ITuff_Temperature_NA,ituff_PerUnit_testTimeInMS
count,1419.000000,1419.000000,1419.0,1419.000000,1419.000000,1419.000000
mean,8914.889359,788.751233,0.0,20.593376,44.415081,478.959831
std,4243.930993,2387.291727,0.0,91.777819,49.597211,303.378146
min,487.000000,0.000000,0.0,0.000000,-5.000000,0.000000
25%,10715.000000,0.000000,0.0,0.000000,0.000000,192.500000
50%,10715.000000,0.000000,0.0,0.000000,0.000000,473.000000
75%,10715.000000,0.000000,0.0,0.000000,95.000000,751.500000
max,14877.000000,13478.000000,0.0,519.000000,100.000000,997.000000

In [42]:
df.IsConcurrent.value_counts()

True     1075
False     344
Name: IsConcurrent, dtype: int64

In [43]:
df.ITuff_Temperature_NA.value_counts()

 0      481
 100    331
 95     329
-5      276
 25       2
Name: ITuff_Temperature_NA, dtype: int64

In [45]:
df = df.drop('ITuff_SubmitterFullName_NA', axis=1)

In [ ]:
#sb.pairplot(df)

In [ ]:
df1 = pd.get_dummies(df, columns=['TestProgram_BomGroup'])

In [ ]:
df2 = pd.get_dummies(df1, columns=['TestProgram_BomGroup'])